[submodule "site-lisp/evil-ruby-block-object"]
	path = site-lisp/evil-ruby-block-object
	url = https://github.com/XuHaoJun/evil-ruby-block-object.git
[submodule "site-lisp/ac-inf-mongo"]
	path = site-lisp/ac-inf-mongo
	url = https://github.com/XuHaoJun/ac-inf-mongo
