*~
session.*
/.var/*/*
!/.var/cache/.gitkeep
!/.var/backup/.gitkeep
!/.var/log/.gitkeep
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
/.ido.last
/.recentf
/.session
/.smex-items
auto-save-list
ac-comphist.dat
projectile-bookmarks.eld
projectile.cache
tramp
.\#*
*.elc
.org-id-locations
*_archive
*_flymake.*
/eshell/
/elpa/
/var/
/url/
/newsticker/
.litable-lists.el
